@using RSS_Feed.ViewModels.Home

@model RSSViewModel

@{
    ViewData["Title"] = "RSS Feed Info";
}

<div class="row">
    <div class="col-md-12">

        <div class="text-center">
            <h2>RSS Feed Info</h2>

            @if (Model != null && Model.RSSCreated)
            {
                Html.LabelFor(c => c.Title);
                Html.DisplayFor(c => c.Title);

                Html.LabelFor(c => c.Description);
                Html.DisplayFor(c => c.Description);

                Html.LabelFor(c => c.Link);
                Html.DisplayFor(c => c.Link);
            }
            else
            {
                using (Html.BeginForm("AddInfo", "Home", FormMethod.Post))
                {
                    Html.AntiForgeryToken();

                    Html.LabelFor(c => c.Title);
                    Html.TextBoxFor(c => c.Title, new { @class = "form-control" });

                    Html.LabelFor(c => c.Description);
                    Html.TextAreaFor(c => c.Description, new { @class = "form-control" });

                    Html.LabelFor(c => c.Link);
                    Html.TextBoxFor(c => c.Link, new { @class = "form-control" });
                }
            }

        </div>
    </div>
</div>